//COLORS
$base-background-color: #fcfcfc;
$base-font-color: #333333;
$section-background-color: #262626;
$section-font-color: #fcfcfc;
$code-background-color: #e6f2ff;
$heading-main-color: crimson;
$heading-h2-color: #f58a9c;

//MARGINS
