body {
  font-family: "Segoe UI", sans-serif;
  font-size: 1.7rem;
  color: $base-font-color;
}

.heading {
  &__main {
    color: $heading-main-color;
    font-size: 3rem;
    padding: 2rem 0;
    border-bottom: 1px solid $base-background-color;
  }
  &__h1 {
    color: $heading-main-color;
    font-size: 3rem;
    padding: 2rem 0;
  }
  &__h2 {
    font-size: 2rem;
    margin: 1rem 0;
    color: $heading-h2-color;
  }
}
